<h1>会員詳細</h1>
<table>
  <thead>
    <tr>
      <th>会員</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <!--<tbody>-->
  <!--<%# @customer.each do |customer| %>-->
  <!--  <tr>-->
  <!--    <td><%#= customer.id %></td>-->
  <!--    <td><%#= link_to customer.full_name %></td>-->
  <!--    <td><%#= customer.email %></td>-->
  <!--    <td></td>-->
  <!--  </tr>-->
  <!--<%# end %>-->
  <!--</tbody>-->
</table>
