<body>
  <div class="container pl-5">
    <div class="row my-5">
      <div class="col-2 bg-light" >
        <h2>ログイン</h2>
      </div>
    </div>
    <div class="row my-4 pl-3">
      <div class="col-5 bg-light">
        <h3>会員の方はこちらからログイン</h3>
      </div>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
class="col-2"

      <div class="row my-4">
        <div class="col-6 text-center ml-4">
          <%= f.submit "ログイン", class: 'btn btn-primary w-25' %>
        </div>
      </div>
    <% end %>

    <div class="row mt-5 mb-4 pl-3">
      <div class="col-5 bg-light">
        <h3>会員登録がお済みでない方</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-8 text-center">
        <%= link_to 'こちら', new_customer_registration_path %>
        から新規登録を行なって下さい。
      </div>
    </div>
    <%#= render "devise/shared/links" %>
  </div>
</body>